/** {
	font-family: "arial", "Times New Roman";
}*/

.section-heading {
	font-family: "Oswald", arial;
	color: #F5841F;
}

.page_title {
   font-family: "Oswald", arial;
   color: #F5841F;
}