<div class="container">
	<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Alerts</div>
					<div class="panel-body">
						<!-- <form>
							<div class="form-group"> -->
								<label for="symbol">Symbol</label>
								<input type="text" name="symbol" id="symbol" class="form-control" /><button class="btn btn-primary" type="button">Add</button>
							<!-- </div>
						</form> -->
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
	</div>
</div>