<div class="container">
	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading">Subscription</div>
		<div class="panel-body">
			<!-- test here -->
		</div>

		<table class="table">
			<!-- <thead><tr><th>Subscription</th><th>Basic</th></tr></thead> -->
			<tbody>
				<tr><td>Subscription</td><td>Free</td></tr>
				<tr><td>Amount Paid</td><td>0.00</td></tr>
				<tr><td>Subscription date</td><td>09-01-2016</td></tr>
				<tr><td>Expiry date</td><td>10-23-2016</td></tr>
			</tbody>
		</table>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Alerts</div>
		<div class="panel-body">
			List of companies to alert. <br /><br />
			<a href="#/add_alert" class="btn btn-primary" type="button">Add Alert</a>
			<a href="#/deleteAll_alert" class="btn btn-danger" type="button">Delete All Alert</a>
		</div>

		<table class="table">
			<thead><tr><th>Id</th><th>Symbol</th><th>Company</th><th>Condition</th><th>Price</th></tr></thead>
			<tbody>
				<tr ng-repeat="alert in alerts">
					<td><a href="#/edit_alert/{{alert.id}}/{{alert.symbol}}/{{alert.priceCondition}}/{{alert.price}}">{{alert.id}}</a></td>
					<td>{{alert.symbol}}</td>
					<td>{{alert.companyName}}</td>
					<td>{{alert.priceCondition == 'movesBelow' ? 'Moves Below' : 'Moves Above'}}</td>
					<td>{{alert.price}}</td></tr>
			</tbody>
		</table>
	</div>
</div>